body {}
 
table {
	counter-reset: rowNumber;
	table-layout: fixed;
	width: 600px;
}
 
	table tr:nth-child(n+2) {counter-increment: rowNumber;}
 
		table tr td:nth-child(-n+1)::before {content: counter(rowNumber);}
 
th, td{
	width: 100px;
	font-size: 20px;
	background: #FFEBCD;
	color: black;
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:center;
}
 
 th{
	background: #D2B48C; 
}
  
tr:hover td:nth-child(n+2) {
	background: #ccddff;
}

td:hover{
	color:red;
}