body {
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    line-height: 100px;
    display: block;
    position: fixed;
    z-index: 100;
    background: linear-gradient(to top, #7B9CEA, #FFCCCC);
}

nav {
    text-align: center;
    overflow: hidden;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    padding: 0 15px;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 24px;
    list-style-type: none;
    line-height: 40px;
}

li span {
    font-weight: bold;
}

.home-banner-area {
    height: 1160px;
    background: linear-gradient(to top, #7B9CEA, #FFCCCC);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 1600px;
    height: 760px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 5);
}


.about-me {
    padding: 30px 0px 0px 0px;
    float: right;
    width: 585px;
}

.my-photo {
    margin: 30px 50px;
}

.welcome-area {
    height: 1160px;
    background: linear-gradient(to top, #7B9CEA, #FFCCCC);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    float: left;
    width: 725px;
    margin: 50px 25px 50px 50px;
    font-size: 24px;
}

aside {
    float: right;
    width: 725px;
    margin: 50px 50px 50px 25px;
    font-size: 24px;
}

.headline {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.my-projects {
    padding: 40px 0 0 0;
    width: 760px;
    margin: 0 auto;
}

.calc-logo {
    padding: 0 20px 0 10px;
    float: right;
}

.calculator-description {
    padding: 0 10px 0 20px;
    float: left;
    width: 350px;
    font-size: 24px;
    line-height: 40px;
}

footer {
    height: 400px;
    background: #000000;
    color: #5f5d67;

}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;

}

.footer-information {
    margin-top: 100px;
    float: left;
    width: 1000px;
    font-size: 24px;
}

.footer-link {
    float: right;
    width: 600px;
    font-size: 24px;
}

.logo {
    float: left;
    margin-top: 50px;
}