header {
    height: 100px;
    width: 100%;
    background: #000000;
    line-height: 100px;
}

nav {
    text-align: center;
    overflow: hidden;
    list-style: none;
}

a {
    text-decoration: none;
    color: #C0C0C0;
    font-size: 24px;
    padding: 0 15px;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 24px;
    list-style-type: none;
    line-height: 40px;
}

li span {
    font-weight: bold;
}

.main-content {
    padding: 40px 0 0 0;
    width: 760px;
    margin: 0 auto;

}

.about-me {
    padding: 0 10px 0 20px;
    float: left;
    width: 350px;
}

.my-fhoto {
    padding: 0 20px 0 10px;
    float: right;
}

.headline {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.my-projects {
    padding: 40px 0 0 0;
    width: 760px;
    margin: 0 auto;
}

.calc-logo {
    padding: 0 20px 0 10px;
    float: right;
}

.calculator-description {
    padding: 0 10px 0 20px;
    float: left;
    width: 350px;
    font-size: 24px;
    line-height: 40px;
}

footer {
    height: 100px;
    line-height: 100px;
    width: 100%;
    background: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #5f5d67;
    text-align: center;
}
